body
{
    background-image: url('../img/bg_Taipei101_3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.row
{
    font-family: "微軟正黑體", "Microsoft JhengHei";
}
#chatroom_alt
{
    background-color: rgba(0, 0, 0, 0.3);
}
#chatroom_alt_text
{
    color: rgba(241, 241, 241, 0.8);
    font-size: 30px;
    line-height: 100%;
}
#msg_list
{
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    max-height: 75%;
}
#msg
{
    max-width: 70%;
    word-wrap: break-word;
}
#msg_myself
{
    max-width: 70%;
    word-wrap: break-word;
    background-color: rgb(255, 213, 202);
    border: 1px solid rgb(151, 12, 30);
}
#right_list, #left_list
{
    background-color: rgba(0, 0, 0, 0.3);
}
#new_user_list, #online_user_list, #user_list
{
    font-family: "微軟正黑體", "Microsoft JhengHei";
    /* background-color: rgba(0, 0, 0, 0.3); */
    color: white;
}
#new_user_list .new_user
{
    overflow: hidden;
    text-overflow: ellipsis;
}
#new_user_list .new_user:hover
{
    background-color: rgba(5, 8, 12, 0.5);
    cursor: pointer;
    /* border-bottom: 1px solid rgba(5, 8, 12, 0.8); */
    /* border-top: 1px solid rgba(5, 8, 12, 0.8); */
}
#online_user_list .new_user
{
    overflow: hidden;
    text-overflow: ellipsis;
}
#online_user_list .new_user:hover
{
    background-color: rgba(5, 8, 12, 0.5);
    cursor: pointer;
    /* border-bottom: 1px solid rgba(5, 8, 12, 0.8); */
    /* border-top: 1px solid rgba(5, 8, 12, 0.8); */
}
#user_list .new_user
{
    overflow: hidden;
    text-overflow: ellipsis;
}
#user_list .new_user:hover
{
    background-color: rgba(5, 8, 12, 0.5);
    cursor: pointer;
    /* border-bottom: 1px solid rgba(5, 8, 12, 0.8); */
    /* border-top: 1px solid rgba(5, 8, 12, 0.8); */
}
#btnSend:hover
{
    cursor: pointer;
    /* box-shadow: 0px 3px rgba(255, 255, 255, 0.2); */
}
#btnPublicRoom
{
    border: 1px solid rgb(255, 255, 255);
    font-weight: bold;
}
#btnPublicRoom:hover
{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(134, 1, 117);
    font-weight: bold;
    cursor: pointer;
}
#public_room_msg_sender
{
    font-weight: bold;
    color: rgb(146, 112, 0);
}
@media (max-width:768px)
{
    #left_col{display: none;}
}
@media (max-width:576px)
{
    #right_col{display: none;}
}